*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background: #f2f2f2;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif, helvetica;
}

.wrap{
 width: 90%;
 max-width: 500px;
 margin:auto;
}

form{
 width: 100%;
 margin: 20px 0;
 padding: 20px;
 background: #fff;
 overflow: hidden;
 box-shadow: 0 0 3px grey;
 border-top: 4px solid #536DFE;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea{
 border: 1px solid #536DFE;
 border-radius: 2px;
 padding: 16px;
 width: 100%;
 display: block;
 margin-bottom: 20px;
 font-family: "Roboto", Arial, sans-serif, helvetica;
 font-size: 1em;
 color: #141938;
}


.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

select {
    margin: 0 30%;
    border: 1px solid #d6d8db;
    background-color: #ecedee;
    text-transform: uppercase;
    color: #47515c;
    padding: 12px 10px 12px 10px;
    width: auto;
    cursor: pointer;
    margin-bottom: 10px;
}
select > option {
    text-transform: uppercase;
    padding: 5px 0px;
}
.customSelect {
    border: 1px solid #d6d8db;
    background-color: #ecedee;
    text-transform: uppercase;
    color: #47515c;
    padding: 12px 10px 12px 10px;
    margin-bottom: 10px;
}
.customSelect.changed {
    background-color: #f0dea4;
}
.customSelectInner {
    background:url(../images/select_arrows.png) no-repeat center right;
}
